
#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(47, 56, 79);
 
}

#contenedor >div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* min-height: 100vh; */
}


.cardPokemon {
  height: 250px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  
}

.cardPokemon > div {
  height: 150px;
  
}

a{
  text-decoration: none;
  color: white;
}

.cardPokemon > div > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon > h1 {
  text-transform: capitalize;
}

.cardPokemon > h1,
.cardPokemon > p
{
  margin: 0;
}



.cardPokemon {
  position: relative;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  cursor: pointer;

}



.b1{
  border: solid red 5px;
}

.b2{
  border: solid blue 5px;
}

.loading-spinner svg{
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loading-spinner .texto{
  animation: parpadeo 1s infinite linear;
}
@keyframes parpadeo {
  0% {
    
    color:  white;
  }
  50% {
    color:  red;
  }
  100% {
    color:  white;
  }
}